.bg-black {
	background-color: #000;
}

.bg-parallax { 
  /* The image used */
  background-image: url("/images/test.jpg");


  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}